
<section ng-if="backgrounds">
    <flickity items="backgrounds"></flickity>
</section>

<!--<div class="text-center">-->
    <!--<h3>{{header.link}}</h3>-->
    <!--<pre>{{ header | json }}</pre>-->
    <!--<p>This page {{header.message}}demonstrates <span class="text-danger">nested</span> views.</p>-->
<!--</div>-->

<section id="perceptive-about" data-section="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">About</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>{{header.about.heading}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="perceptive-person text-center to-animate">
                    <figure><img ng-src="{{header.about.icon}}" alt="Image"></figure>
                    <h3>{{header.about.name}}</h3>
                    <span class="perceptive-position">{{header.about.title}}</span>
                    <p>{{header.about.detail}}
                        <div class="row"><button class="btn btn-info" ui-sref="about">Read More</button></div>
                    </p>
                    <ul class="social social-circle">
                        <li><a href="https://www.linkedin.com/in/brooke-rodgers-15aa9158"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.facebook.com/PerceptiveWellness/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://plus.google.com/110097039439490205525"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<section  id="perceptive-parallax" data-section="parallax">
        <div class="row">
            <div class="parallax-container" style="height:800px">
                <div parallax><img ng-src="{{header.parallax.img}}"></div>
                <section class="col-md-5 col-md-offset-2  to-animate"  style="padding: 80px;">
                    <h2 class="text-uppercase">
                        No one diet works for everyone.
                    </h2>
                    <p>
                    <blockquote><h4>{{header.parallax.quote}}</h4></blockquote>
                    </p>
                </section>
            </div>
        </div>
</section>


<section style="padding: 30px">
    <div class="container">
        <div class="row">
            <div class="video-container thumbnail" >
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/OgMmZedIsmk?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section id="perceptive-testimonials" data-section="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Testimonials</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3 >{{header.Testimonials.Heading}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 " ng-repeat="testimonial in header.Testimonials.testimonials" ng-bind-html-unsafe="testimonial.quote">
                <div class="box-testimony ">
                    <blockquote class="to-animate-2" >
                        <p >{{testimonial.quote | limitTo : 400 }} ..</p>
                    </blockquote>
                    <div class="img-circle">
                        <figure style="width: 60px; height: 60px"><img ng-src="images/girl.svg" alt="Person"> <div class="caption">~{{testimonial.name}}</div></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="perceptive-work" data-section="work">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Recent Post</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3> Perceptive Wellness Facebook </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FPerceptiveWellness%2Fposts%2F958554820956048&width=auto" width="auto" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            <div class="col-sm-4">
                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FPerceptiveWellness%2Fposts%2F956378811173649&width=auto" width="auto" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            <div class="col-sm-4">
                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FPerceptiveWellness%2Fposts%2F950608708417326&width=auto" width="auto" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        </div>

    </div>

    </div>
</section>


<!--<section id="perceptive-services" data-section="services">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12 section-heading text-left">-->
                <!--<h2 class=" left-border to-animate">Services</h2>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-8 subtext to-animate">-->
                        <!--<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-6 col-sm-6 perceptive-service to-animate">-->
                <!--<i class="icon to-animate-2 icon-anchor"></i>-->
                <!--<h3>Brand &amp; Strategy</h3>-->
                <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>-->
            <!--</div>-->
            <!--<div class="col-md-6 col-sm-6 perceptive-service to-animate">-->
                <!--<i class="icon to-animate-2 icon-layers2"></i>-->
                <!--<h3>Web &amp; Interface</h3>-->
                <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>-->
            <!--</div>-->

            <!--<div class="clearfix visible-sm-block"></div>-->

            <!--<div class="col-md-6 col-sm-6 perceptive-service to-animate">-->
                <!--<i class="icon to-animate-2 icon-video2"></i>-->
                <!--<h3>Photo &amp; Video</h3>-->
                <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>-->
            <!--</div>-->
            <!--<div class="col-md-6 col-sm-6 perceptive-service to-animate">-->
                <!--<i class="icon to-animate-2 icon-monitor"></i>-->
                <!--<h3>CMS &amp; eCommerce</h3>-->
                <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</section>-->



<section id="perceptive-contact" data-section="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">{{header.getintouch.heading}}</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>{{header.getintouch.message}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-6 to-animate">
                <h3>Contact Info</h3>
                <ul class="perceptive-contact-info">
                    <li class="perceptive-contact-address ">
                        <i class="icon-home"></i>
                        1S241 Flanders Ln, Winfield IL, 60190 <br> Perceptive Wellness
                    </li>
                    <li><i class="fa fa-mobile" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;(123) 465-6789</li>
                    <li><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:brookerodgers511@gmail.com"> brookerodgers511@gmail.com</a></li>
                    <li style="display: inline-flex">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fperceptivewellness&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 to-animate">
                <h3>Contact Form</h3>
                <div class="form-group ">
                    <label for="name" class="sr-only">Name</label>
                    <input id="name" class="form-control" placeholder="Name" type="text">
                </div>
                <div class="form-group ">
                    <label for="email" class="sr-only">Email</label>
                    <input id="email" class="form-control" placeholder="Email" type="email">
                </div>
                <div class="form-group ">
                    <label for="phone" class="sr-only">Phone</label>
                    <input id="phone" class="form-control" placeholder="Phone" type="text">
                </div>
                <div class="form-group ">
                    <label for="message" class="sr-only">Message</label>
                    <textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
                </div>
                <div class="form-group ">
                    <input class="btn btn-primary btn-lg" value="Send Message" type="submit">
                </div>
            </div>
        </div>

    </div>
    </div>
    <div id="map" class="to-animate"></div>
    <script>
        var map, marker;
        function initMap() {

            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 41.8527192, lng:-88.1702038 },
                zoom: 16
            });
            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position:  {lat: 41.8527192, lng:-88.1702038 },
            });
            marker.addListener('click', toggleBounce);
        }
        function toggleBounce() {
            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2Qc6qP-ZzOf24nTNUTdJs-_sjW7SpXRU&callback=initMap" async defer></script>
</section>


<footer id="footer" role="contentinfo">
    <a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
    <div class="container">
        <div class="">
            <div class="col-md-12 text-center">
                <p>&copy;{{header.footer.message}}<br>Created by <a href="http://lueondee.com/" target="_blank">Lueondee</a> </p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="social social-circle">
                    <li><a href="https://www.linkedin.com/in/brooke-rodgers-15aa9158"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.facebook.com/PerceptiveWellness/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://plus.google.com/110097039439490205525"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
